.footer {
    background-color: #003366; /* Azul oscuro */
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
  